# Ignora dependências do Node.js
node_modules/

# Ignora arquivos temporários e de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora arquivos de ambiente
.env

# Ignora diretórios do sistema
.DS_Store
